body{
    padding:0;
    margin:0;
    font-family:helvetica;
}
header{
    background:lightgrey;
}
.special{
    display:flex;
    margin-left:50%;
    margin-top:-5%;
}
.first{
    display:inline-block;  
    padding:0px 20px;  
    line-height:1em;
}
ul{
    list-style:none;
    background:white;
    margin-left:5%;

}
li{
    display:inline-block;
}
li a{
    text-decoration:none;
    padding:10px 12px;
    text-align:center;
}
.active a{
    
    color:red;
    border:1px solid black;
}
li a:hover{
    background:rgb(77, 74, 74);
    color:white;
}
span{
    color:lime;
}
.container{
    background-image:url(green.jpg);
    background-size:cover;
    background-position:center;
    background-repeat: no-repeat;
    padding:30px;
    height:60vh;
}
.main{
    margin-top:-30%;
    text-align:center;
    color:white;
}
#btn{
    background:lime;
    color:white;
    padding:8px 15px;
    border:none;
    font-weight:bold;
}
.note{
    display:flex;
    padding:10px;
    margin-left:5%;
    margin-right:5%;
    box-sizing: border-box;
    box-sizing: 0 0 10px;
    
}
.col{
    padding:0 20px;
    color:white;
    text-align:justify;
    display:inline-block;
    margin-left:1%;
    margin-right:1%;

}
#first{
    background:rgba(7, 7, 7, 0.541);
}
h4{
    text-align: center;
}
.section {
    
    background-color: aquamarine;
    width: 100%;
    height: 100hv;
}
.section p {
    padding: 40px;
    text-align: center;
}

footer {
	position: 
}
.footer-distributed{
	background-color: #292c2f;
	box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
	box-sizing: border-box;
	width: 100%;
	text-align: left;
	font: bold 20px sans-serif;
 
	padding: 55px 50px;
	margin-top: 80px;
}
 
.footer-distributed .footer-left,
.footer-distributed .footer-center,
.footer-distributed .footer-right{
	display: inline-block;
	vertical-align: top;
}
 
.footer-distributed .footer-left {
	width: 40%;
}
 
.footer-distributed h3 {
	color:  #ffffff;
	font: normal 36px 'Cookie', cursive;
	margin: 0;
}
 
.footer-distributed h3 span {
	color:  #5383d3;
}
 
 
.footer-distributed .footer-links {
	color:  #ffffff;
	margin: 20px 0 12px;
	padding: 0;
}
 
.footer-distributed .footer-links a {
	display:inline-block;
	line-height: 1.8;
	text-decoration: none;
	color:  inherit;
}
 
.footer-distributed .footer-company-name {
	color:  #8f9296;
	font-size: 14px;
	font-weight: normal;
	margin: 0;
}
 
 
.footer-distributed .footer-center {
	width: 35%;
}
 
.footer-distributed .footer-center i {
	background-color:  #33383b;
	color: #ffffff;
	font-size: 25px;
	width: 38px;
	height: 38px;
	border-radius: 50%;
	text-align: center;
	line-height: 42px;
	margin: 10px 15px;
	vertical-align: middle;
}
 
.footer-distributed .footer-center i.fa-envelope {
	font-size: 17px;
	line-height: 38px;
}
 
.footer-distributed .footer-center p {
	display: inline-block;
	color: #ffffff;
	vertical-align: middle;
	margin:0;
}
 
.footer-distributed .footer-center p span {
	display:block;
	font-weight: normal;
	font-size:14px;
	line-height:2;
}
 
.footer-distributed .footer-center p a {
	color:  #5383d3;
	text-decoration: none;;
}
 
.footer-distributed .footer-right {
	width: 20%;
}
 
.footer-distributed .footer-company-about {
	line-height: 20px;
	color:  #92999f;
	font-size: 13px;
	font-weight: normal;
	margin: 0;
}
 
.footer-distributed .footer-company-about span {
	display: block;
	color:  #ffffff;
	font-size: 14px;
	font-weight: bold;
	margin-bottom: 20px;
}
 
.footer-distributed .footer-icons {
	margin-top: 25px;
}
 
.footer-distributed .footer-icons a {
	display: inline-block;
	width: 35px;
	height: 35px;
	cursor: pointer;
	background-color:  #33383b;
	border-radius: 2px;
 
	font-size: 20px;
	color: #ffffff;
	text-align: center;
	line-height: 35px;
 
	margin-right: 3px;
	margin-bottom: 5px;
}
 
 
@media (max-width: 880px) {
 
	.footer-distributed{
		font: bold 194px sans-serif;
	
	}
 
	.footer-distributed .footer-left,
	.footer-distributed .footer-center,
	.footer-distributed .footer-right{
		display: block;
		width: 100%;
		margin-bottom: 40px;
		text-align: center;
	}
 
	.footer-distributed .footer-center i {
		margin-left: 0;
	}
	.main {
		line-height: normal;
		font-size: auto;
	}